<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
   <meta name="author" content="Raphael Wegmann">

   <link rel="stylesheet" media="screen and (min-width: 720px)" 
        href="styles.css" type="text/css" />
   <link rel="stylesheet" media="screen and (max-width: 720px)" 
        href="mobile-styles.css" type="text/css" />

<!--   <script language="JavaScript" type="text/javascript" src="/dojo/dojo.js"></script> -->
   <script language="JavaScript" type="text/javascript" src="/ext/raphael-min.js"></script>


<!-- this is the main javascript -->
   <script language="JavaScript" type="text/javascript" src="main.js"></script>
   <title>Hi2All</title>
</head>
<body>

<div id="welcome">
  <h1>This is the error page</h1>
  <h2><!-- TMPL_VAR error_msg --></h2>
  <h2><!-- TMPL_VAR message --></h2>
</div>


</body>
</html>

