<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hi2All</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author"   content="Raphael Wegmann" />
  <link rel="stylesheet" media="screen and (min-width: 720px)" href="styles.css" type="text/css" />
   
  <!-- the main javascript goes right here -->
<!--
  <script class="js-main" type="text/javascript" src="/script/main.js"></script>
-->

  <!-- secure javascript loading starts here -->
<script type="text/javascript">
/* 
 * nanoajax from https://github.com/yanatan16/nanoajax
 */

var nanoajax = new Object;

nanoajax.ajax = function (params, callback) {
  if (typeof params == 'string') params = {url: params}
  var headers = params.headers || {}
    , body = params.body
    , method = params.method || (body ? 'POST' : 'GET')
    , withCredentials = params.withCredentials || false

  var req = getRequest()

  // has no effect in IE
  // has no effect for same-origin requests
  // has no effect in CORS if user has disabled 3rd party cookies
  req.withCredentials = withCredentials

  req.onreadystatechange = function () {
    if (req.readyState == 4)
      callback(req.status, req.responseText, params.url)
  }

  if (body) {
    setDefault(headers, 'X-Requested-With', 'XMLHttpRequest')
    setDefault(headers, 'Content-Type', 'application/x-www-form-urlencoded')
  }

  req.open(method, params.url, true)

  for (var field in headers)
    req.setRequestHeader(field, headers[field])

  req.send(body)
}

function getRequest() {
  if (XMLHttpRequest)
    return new XMLHttpRequest;
  else
    try { return new ActiveXObject("MSXML2.XMLHTTP.3.0"); } catch(e) {}
  throw new Error('no xmlhttp request able to be created')
}

function setDefault(obj, key, value) {
  obj[key] = obj[key] || value
}

/**
 * JS Implementation of MurmurHash3 (r136) (as of May 20, 2011)
 * 
 * @author <a href="mailto:gary.court@gmail.com">Gary Court</a>
 * @see http://github.com/garycourt/murmurhash-js
 * @author <a href="mailto:aappleby@gmail.com">Austin Appleby</a>
 * @see http://sites.google.com/site/murmurhash/
 * 
 * @param {string} key ASCII only
 * @param {number} seed Positive integer only
 * @return {number} 32-bit positive integer hash 
 */

function murmurhash3(key, seed) {
	var remainder, bytes, h1, h1b, c1, c1b, c2, c2b, k1, i;
	
	remainder = key.length & 3; // key.length % 4
	bytes = key.length - remainder;
	h1 = seed;
	c1 = 0xcc9e2d51;
	c2 = 0x1b873593;
	i = 0;
	
	while (i < bytes) {
	  	k1 = 
	  	  ((key.charCodeAt(i) & 0xff)) |
	  	  ((key.charCodeAt(++i) & 0xff) << 8) |
	  	  ((key.charCodeAt(++i) & 0xff) << 16) |
	  	  ((key.charCodeAt(++i) & 0xff) << 24);
		++i;
		
		k1 = ((((k1 & 0xffff) * c1) + ((((k1 >>> 16) * c1) & 0xffff) << 16))) & 0xffffffff;
		k1 = (k1 << 15) | (k1 >>> 17);
		k1 = ((((k1 & 0xffff) * c2) + ((((k1 >>> 16) * c2) & 0xffff) << 16))) & 0xffffffff;

		h1 ^= k1;
        h1 = (h1 << 13) | (h1 >>> 19);
		h1b = ((((h1 & 0xffff) * 5) + ((((h1 >>> 16) * 5) & 0xffff) << 16))) & 0xffffffff;
		h1 = (((h1b & 0xffff) + 0x6b64) + ((((h1b >>> 16) + 0xe654) & 0xffff) << 16));
	}
	
	k1 = 0;
	
	switch (remainder) {
		case 3: k1 ^= (key.charCodeAt(i + 2) & 0xff) << 16;
		case 2: k1 ^= (key.charCodeAt(i + 1) & 0xff) << 8;
		case 1: k1 ^= (key.charCodeAt(i) & 0xff);
		
		k1 = (((k1 & 0xffff) * c1) + ((((k1 >>> 16) * c1) & 0xffff) << 16)) & 0xffffffff;
		k1 = (k1 << 15) | (k1 >>> 17);
		k1 = (((k1 & 0xffff) * c2) + ((((k1 >>> 16) * c2) & 0xffff) << 16)) & 0xffffffff;
		h1 ^= k1;
	}
	
	h1 ^= key.length;

	h1 ^= h1 >>> 16;
	h1 = (((h1 & 0xffff) * 0x85ebca6b) + ((((h1 >>> 16) * 0x85ebca6b) & 0xffff) << 16)) & 0xffffffff;
	h1 ^= h1 >>> 13;
	h1 = ((((h1 & 0xffff) * 0xc2b2ae35) + ((((h1 >>> 16) * 0xc2b2ae35) & 0xffff) << 16))) & 0xffffffff;
	h1 ^= h1 >>> 16;

	return h1 >>> 0;
}

// now we have nanoajax and murmurhash3() and can start loading
// the rest of the scripts

var cryptoJsDir = "/ext/crypto/";
var flist = ["core.js", "enc-base64.js", "md5.js", "evpkdf.js", "cipher-core.js", "aes.js", "sha256.js"];
var myHashes = new Object;
var oHead = document.getElementsByTagName('head').item(0);
for (f in flist) {
  nanoajax.ajax(cryptoJsDir+flist[f], function (code, script_src, url) { 
    console.log("nanoajax getting script returned code [" + code + "]");
    if ( code == 200 ) {
       // console.log("nanoajax getting script returned [" + script_src +"]");
       var filename = url.replace(cryptoJsDir,"");
       myHashes[url] = murmurhash3(script_src, 24);
       console.log("murmurhash3 returned [" + myHashes[url] +"]");
       console.log("nanoajax getting script returned [" + filename +"]");
       var oScript = document.createElement( "script" );
       oScript.type = "text/javascript";
       oScript.id = filename.replace(".js", "-id");
       oScript.text = script_src;
       oHead.appendChild( oScript );
    }
  });
}

// last but not least, we have to load our own main.js

  nanoajax.ajax("/script/main.js", function (code, script_src, url) { 
    console.log("nanoajax getting script returned code [" + code + "]");
    if ( code == 200 ) {
       // console.log("nanoajax getting script returned [" + script_src +"]");
       var filename = url.replace("/script/","");
       myHashes[url] = murmurhash3(script_src, 24);
       console.log("murmurhash3 returned [" + myHashes[url] +"]");
       console.log("nanoajax getting script returned [" + filename +"]");
       var oScript = document.createElement( "script" );
       oScript.type = "text/javascript";
       oScript.id = filename.replace(".js", "-id");
       oScript.text = script_src;
       oHead.appendChild( oScript );
    }
  });

</script>

  <!-- this is all the code necessary -->
</head>
<body>

  <section id="welcome">
    <div class="inner">
      <h1>Hi2All.eu</h1>
      <h2><!-- TMPL_VAR message --></h2>
      <p>Hi 2 all, who want to have private communication. <br />
        I am a software developer, who tries his best to create
        a communication channel, that cannot be tapped into.</p>
    </div>
  </section>
  
  <form id="login" class="login-form" method="post">

    <fieldset class="inner">
      <legend>welcome back!</legend>
      <label for="login-username">username:<br/>
        <input id="login-username" name="login-username" class="username" size="20"></label>
      <section id="otp-section">
        <label for="challenge">challenge:<br/>
          <input id="challenge" name="challenge" class="challenge" size="20" readOnly="true"></label><br/>
        <label for="pin">PIN:<br/>
          <input id="pin" name="pin" size="20" type="password" class="pin password"></label>
        <input id="decrypt_btn" name="decrypt_btn" type="submit" class="decrypt submit" value="decrypt">
      </section>
    </fieldset>
  </form>
  
  <form id="register" method="post" action="/register">
    <fieldset class="inner">
      <legend>new customer?</legend>
      <ul id="register_list">
        <li>
          <label for="register-username">username:<br/>
          <input id="register-username" name="register-username" size="20"></label>
        </li>
        <li>
          <label for="register-password1">password:<br/>
          <input name="register-password1" size="20" type="password"></label>
        </li>
        <li>
          <label for="register-password2">repeat password:<br/>
          <input name="register-password2" size="20" type="password"></label>
        </li><li>
          <input id="register-submit" name="register-submit" type="submit" value="register">
        </li>
      </ul>
    </fieldset>
    </form>
  
</body>
</html>

